@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;

}

body {
    background-image: linear-gradient(to bottom, #042326, #0A3A40, #0F5959);
}

main {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
}

h1 {
    text-align: center;
    text-shadow: 1px 1px 1px #000;
    color: #1D7373;
}

h2 {
    text-align: center;
    color: #107361;
}


p {
    text-align: justify;

}